@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: 0px -400px;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 800;
}

h2 {
    margin-bottom: 25px;
}

li {
    font-weight: 500;
}